{% extends 'base_order.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <style>
    .card {
      width: 800px;
      margin: 0 auto;
      padding: 10px 15px;
    }
  </style>
{% endblock style %}
{% block content %}
  <div class="container mt-5">
    <div class="row mt-4"></div>
    <div class="row mt-5">
      <div class="col"></div>
      <div class="col mb-3">
        <div class="img text-center">
          <img src="/media/{{room.rimage}}" class="img-fluid" alt="...">
        </div>
      </div>
      <div class="col"></div>
      <div class="row">
        <div class="col text-center">
          <h1>{{room.roomtype}}</h1>
          <h2>{{room.hotel.hname}}</h2>
          <p class="address">{{room.hotels.province}}
            {{room.hotel.city}}
            {{room.hotel.address_1}}
            {{room.hotel.address_2}}</p>
          <div class="card">
            <span>{{room.hotel.hinfo|linebreaks}}</span>
          </div>
          {% comment %} <form action="" method="post">
            {% csrf_token %}
            <div class="col-10 input-group mt-3">
              <input type="date" class="form-control checkin" name="checkin" value="{{chekin|default_if_none:''}}">
              <input type="date" class="form-control checkout" name="checkout" value="{{chekout|default_if_none:''}}">
              <input type="hidden" name="roomid" value="{{room.id}}">
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary" id="btn_order">예약하기</button>
              </div>
            </div>
          </form> {% endcomment %}


          <form action="" method="post">
            <div class="col-8 input-group mt-3">
            {% csrf_token %}
              <input type="text" id="datepicker1" class="form-control checkin" name="checkin">
              <input type="text" id="datepicker2" class="form-control checkout" name="checkout">
              <input type="hidden" name="roomid" value="{{room.id}}">
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary" id="btn_order">예약하기</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  
  <div style="display:none">
    {% for date in result_date  %}
      {{date.visit_at}}
      {{date.leave_at}}
    {% endfor %}

  </div>
{% endblock content %}
{% block script %}
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
    $(function () {  
     

      //오늘 이후 시작일 지정
      $("#datepicker1").datepicker("option","minDate","0");
      //오늘 이후 끝나는 날짜 지정
      $("#datepicker2").datepicker("option","minDate","0");  

      //예약 시작 가능날짜 보여주기
      $("#datepicker1").datepicker({
        dateFormat: "yy-mm-dd",
        beforeShowDay:disabledDates
      });
      $("#datepicker1").datepicker();
     // $("#datepicker1").datepicker("setDate","today");      

     //예약 종료 가능날짜 보여주기
      $("#datepicker2").datepicker({
        dateFormat: "yy-mm-dd",
        beforeShowDay:disabledDates
      })  
      $("#datepicker2").datepicker();

    })
    function disabledDates(date)
    {
      let dateRange = [];  

      var dateString = jQuery.datepicker.formatDate('yy-mm-dd', date);

      var start=new Date();
      var end, start1, end1;

      {% for date in result_date %}
        {% if forloop.counter0 == 0 %}
        start = '{{date.visit_at}}';
        end = '{{date.leave_at}}';        
        {% endif %}
        {% if forloop.counter0 == 1 %}
        start1 = '{{date.visit_at}}';
        end1 = '{{date.leave_at}}';        
        {% endif %}
      {% endfor %}   

      //let dates = [];
      //{% for date in result_date %}
      //  dates.push($.datepicker.formatDate('yy-mm-dd', new Date('{{date.visit_at}}')))
      //{% endfor %}   

     // console.log(dates);

     //for (var d = new Date(startdate); d <= new Date(enddate); d.setDate(d.getDate() + 1)) {

      //  dateRange.push($.datepicker.formatDate('yy-mm-dd', d));
     // }

     if(start!=''){
       var startdate = start;
       var enddate = end;         
 
       for (var d = new Date(startdate); d <= new Date(enddate); d.setDate(d.getDate() + 1)) {
         dateRange.push($.datepicker.formatDate('yy-mm-dd', d));
       }
 
       for (var d = new Date(start1); d <= new Date(end1); d.setDate(d.getDate() + 1)) {
         dateRange.push($.datepicker.formatDate('yy-mm-dd', d));
       }
 
       return [dateRange.indexOf(dateString) == -1];          

     }
    }
  </script>
{% endblock script %}
