{% extends 'base_order.html' %}
{% load static %}
{% block style %}
  <style>
    .card {
      margin-top: 90px;
    }

    .card-header {
      background-color: #BCBCBC;
    }

    .card-footer {
      background-color: #BCBCBC;
    }
  </style>
{% endblock style %}
{% block content %}
  <div class="container mt-5">
    <div class="row mt-4"></div>
    <div class="row mt-5">
      <img src="/media/{{room.rimage}}" class="img-fluid w-50" alt="...">

      <div class="col">
        <h1>{{room.roomtype}}</h1>
        <h2>{{room.hotel.hname}}</h2>
        <p class="address">{{room.hotels.province}}
          {{room.hotel.city}}
          {{room.hotel.address_1}}
          {{room.hotel.address_2}}</p>
        <p>{{room.hotel.hinfo}}</p>
        <form action="" method="post">
          {% csrf_token %}
          <div class="col-10 input-group">
            <input type="date" class="form-control checkin" name="checkin" value="{{chekin|default_if_none:''}}">
            <input type="date" class="form-control checkout" name="checkout" value="{{chekout|default_if_none:''}}">
            <input type="hidden" name="roomid" value="{{room.id}}">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-secondary" id="btn_order">예약하기</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
{% block script %}
  <script>
    $(function () {

      //오늘날짜 세팅
      today = new Date();
      //console.log(today.toISOString());
      today = today
        .toISOString()
        .slice(0, 10);

      // var dd = today.getDate();
      // var mm = today.getMonth()+1; As January is 0.
      // var yyyy = today.getFullYear();

      // if(dd<10) dd='0'+dd;
      // if(mm<10) mm='0'+mm;
      $(".checkin").val(today);
      $(".checkout").val(today);
    })
  </script>
{% endblock script %}
