{% extends 'base.html' %}
{% block content %}
  <div class="container my-3">
    <div class="row">
      <div class="col-4">
        <h4 class="mb-1">회원가입</h4>
      </div>
      <div class="col-8 text-right">
        <span>
          또는
          <a href="{% url 'user:login' %}">로그인</a>
        </span>
      </div>
    </div>
    <hr class="mt-1"/>
    <div class="content-block">
      {% include 'form_errors.html' %}
      {{form.as_p}}
      <form method="post">
        {% csrf_token %}
        {% for field in user_form %}
          <div class="form-group">
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {% if field.name == 'rank' %}
              <select name="{{field.name}}" id="{{field.id_for_label}}" class="form-control">
                {% for option in field %}
                  {{option}}
                {% endfor %}
              </select>
            {% else %}
              <input type="{{field.field.widget.input_type}}" class="form-control" id="{{field.id_for_label}}" placeholder="{{field.label}}" name="{{field.name}}">
            {% endif %}
          </div>
        {% endfor %}
        <div class="form-group my-3">
          <button class="btn btn-primary" type="submit">회원가입</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
